<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/integration
		http://www.springframework.org/schema/integration/spring-integration.xsd">

    <bean id="messageGenerator" class="com.ixxus.activeMqCommunication.jms.MessageGenerator" />
    <int:inbound-channel-adapter id="pollingMessageGenerator" ref="messageGenerator" method="createMessage" channel="generateMessageChannel">
        <int:poller fixed-delay="5000" />
    </int:inbound-channel-adapter>


    <int:channel id="generateMessageChannel"/>



    <int:service-activator input-channel="generateMessageChannel" id="messageLoggerServicaActivator" ref="messageLoggerService" method="logMessage" />
    <bean id="messageLoggerService" class="com.ixxus.activeMqCommunication.jms.MessageLogger" />

</beans>
